<h1>魚の投稿の一覧</h1>

<% @posts.each do |post| %>
  <div class="post">
    <div class="post-title">
      <%= post.title %>
    </div>
    <div class="post-text">
      <%= post.text %>
    </div>
    <div class="post-lure">
      <%= article.post.name %>
    </div>
  </div>
<% end %>
