<h1>魚の投稿の一覧</h1>

<% @posts.each do |post| %>
  <div class="post">
    <div class="post-title">
      <%= post.title %>
    </div>
    <div class="post-text">
      <%= post.text %>
    </div>
    <div class="post-lure">
      <%= post.lure.name %>
    </div>
    <div class="post-image">
    魚の画像
      <%= image_tag post.image.variant(resize: '500x500'), class: 'post-image' if post.image.attached? %>
    </div>
  </div>
<% end %>
